<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=p.name  %> </title>
</head>
<body>
    <h1><%=p.name  %> </h1>
    <ul>
        <li>Price: <%= p.price  %> Rs.  </li>
        <li>Category: <%= p.category  %> </li>

    </ul>
    <a href="/products">All Products</a>
</body>
</html>